<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.johnpinkerton.alfred2-basecrm</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>7A6987D3-50D3-4D29-ABA1-149892BF9DC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>712D3E0A-3B7A-4412-8252-F07FE3872C4F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B0224136-1457-403A-9A28-1FE568184A28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9BFC2A2D-F301-4E16-9DE9-6877A50B364A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Edit this item</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>John Pinkerton</string>
	<key>description</key>
	<string>Provides easy access to Base CRM contacts, leads, and deals inside Alfred 2 (plus caching!).</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Base CRM</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>712D3E0A-3B7A-4412-8252-F07FE3872C4F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ba</string>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>basecrm_api_key=[your base crm api key]

/usr/bin/ruby ./main.rb $basecrm_api_key "all" "{query}"

</string>
				<key>subtext</key>
				<string>Load Base contacts, deals, and leads</string>
				<key>title</key>
				<string>ba {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7A6987D3-50D3-4D29-ABA1-149892BF9DC4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B0224136-1457-403A-9A28-1FE568184A28</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open "{query}/edit"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9BFC2A2D-F301-4E16-9DE9-6877A50B364A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>1. Right click on the ba Script Filter and click Configure.
2. Fill in your Base CRM api key.
3. Have fun.

This will cache your results, so if you need to refresh start your query with: !</string>
	<key>uidata</key>
	<dict>
		<key>712D3E0A-3B7A-4412-8252-F07FE3872C4F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7A6987D3-50D3-4D29-ABA1-149892BF9DC4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9BFC2A2D-F301-4E16-9DE9-6877A50B364A</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>B0224136-1457-403A-9A28-1FE568184A28</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/johnthepink/alfred2-basecrm</string>
</dict>
</plist>
